In [1]:
from bs4 import BeautifulSoup

import urllib
import urllib.request
import re

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import math

import matplotlib.pyplot as plt
from pylab import rcParams

In [2]:

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}


abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [3]:
with urllib.request.urlopen(" https://raw.githubusercontent.com/jcarreon5/Pilam_expansion/master/Pilam_Chapters.html") as response:
    html =  response.read()

In [4]:
soup = BeautifulSoup(html,'lxml')
type(soup)

bs4.BeautifulSoup

In [5]:
print(soup.prettify()[:100])

<html>
 <body>
  <div class="group-row">
   <h2>
    Alabama
   </h2>
   <div class="fwpl-row el-n8r

In [6]:
#name of the Columns
col= {'Country','State/Providence','Chapter_name','Chapter_link','University_name','University_link',
      'Chapter_type','Founded_date','Inactive_date','Refounded_date', 'Functional_University_link','Functional_Chapter_link'}

#number of rows = number of chapters in Pilam(148)
index = range(0,148)

# An (148,8) DataFrame with all elements equal to NaN
df_pilam_info = pd.DataFrame(np.nan, index=index,columns= col)

df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#divTag is all the Html code within each specific chapter
divTag = pd.Series(soup.find_all('div',{'class': 'fwpl-row el-n8rqv8'}))

In [8]:
#Finds and Store all chapter names
names = []
for info in divTag:
    h3Tag = pd.Series(info.find_all('h3'))
    for x in h3Tag:
        names.append(x.get_text())
df_pilam_info['Chapter_name'] = names

In [9]:
df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,NaN,NaN,NaN,AL Alpha Eta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,AL Alpha Zeta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,CA Alpha Upsilon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,CA Kappa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,CA Tau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
143,NaN,NaN,NaN,WA Epsilon Alpha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,WI Alpha Nu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,WI Chi Upsilon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,WI Omega,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,WV Mu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
##Finds and Store all inactive dates
ina = []
for info in divTag:
    spanTag_ina = pd.Series(info.find_all(string=re.compile('Inactive: ')))
    if len(spanTag_ina) == 0:
        ina.append(0)
    else:
        for x in spanTag_ina:
            temp = re.findall(r'\d+', x) 
            res = list(map(int, temp))[0]
            ina.append(res)

df_pilam_info['Inactive_date'] = ina

In [11]:
df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,NaN,1940,NaN,AL Alpha Eta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1990,NaN,AL Alpha Zeta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0,NaN,CA Alpha Upsilon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1950,NaN,CA Kappa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0,NaN,CA Tau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
143,NaN,0,NaN,WA Epsilon Alpha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,2016,NaN,WI Alpha Nu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,0,NaN,WI Chi Upsilon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,0,NaN,WI Omega,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,1959,NaN,WV Mu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
##Finds and Stores all the founding dtaes
fou = []
for info in divTag:
    spanTag_fou = pd.Series(info.find_all(string=re.compile('Founded: ')))
    if len(spanTag_fou) == 0:
        fou.append(0)
    else:
        for x in spanTag_fou:
            temp = re.findall(r'\d+', x) 
            res = list(map(int, temp))[0]
            fou.append(res)

df_pilam_info['Founded_date'] = fou

In [13]:
df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,NaN,1940,1927,AL Alpha Eta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1990,1986,AL Alpha Zeta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0,2016,CA Alpha Upsilon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1950,1920,CA Kappa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0,1922,CA Tau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
143,NaN,0,1995,WA Epsilon Alpha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,2016,2012,WI Alpha Nu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,0,2011,WI Chi Upsilon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,0,1926,WI Omega,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,1959,1922,WV Mu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#In the column ['University_link'] a None will be use to equal miising values
#In the column ['Chapter_link'] a None will be use to equal miising values


#Finds and Stores All University Links
#Finds and Stores All Chapter Links
#Fixes Unfuctional Links

h = 'http'
uni_links = []
c_links = []
fu_links = []
fc_links = []




##### You need to figure out for th eones that do not have a 
##### university link but do have a chapter link
for u in divTag:
    
    aTag = pd.Series(u.find_all('a'))
    
    if(len(aTag) == 0):
        
        uni_links.append(None)
        c_links.append(None) 
        fu_links.append(False)
        fc_links.append(False)
        
    elif(len(aTag) == 1):        
        if('.edu' in aTag[0].get('href') or '.ca' in  aTag[0].get('href') or 'wiki' in  aTag[0].get('href')):
            if(h not in aTag[0].get('href')):
                uni_links.append(h + 's://'+ aTag[0].get('href'))
            else:
                uni_links.append(aTag[0].get('href'))
            
            c_links.append(None) 
            fu_links.append(True)
            fc_links.append(False)
        
        else:
            
            if h not in aTag[0].get('href'):
                c_links.append(h + 's://'+ aTag[0].get('href'))
            else:
                c_links.append(aTag[0].get('href'))
            uni_links.append(None) 
            fu_links.append(False)
            fc_links.append(True)
        
    elif(len(aTag) > 1):
        
        if(h not in aTag[0].get('href')):
            uni_links.append(h + 's://'+ aTag[0].get('href'))
        else:
            uni_links.append(aTag[0].get('href'))
        
        if(h not in aTag[1].get('href')):
            c_links.append(h + 's://'+ aTag[1].get('href'))
        else:
            c_links.append(aTag[1].get('href'))
        fu_links.append(True)
        fc_links.append(True)
    

df_pilam_info['University_link'] = uni_links
df_pilam_info['Chapter_link'] = c_links
df_pilam_info['Functional_University_link'] = fu_links
df_pilam_info['Functional_Chapter_link'] = fc_links

In [15]:
df_pilam_info['University_link'][123]

'https://en.wikipedia.org/wiki/Alliance_College'

In [16]:
#In the column ['State/Providence'] a '' will be use to equal missing values
#In the column ['Country'] a '' will be use to equal missing values

states = []
country = []

for x in names:
    abbrev = (x[0]+x[1])
    if( abbrev in abbrev_us_state ):
        states.append(abbrev)
        country.append('United States')
    elif( 'CN' == abbrev):
        states.append('')
        country.append('Canada')
    else:
        state.append('')
        country.append('')

    
df_pilam_info['State/Providence'] = states
df_pilam_info['Country'] = country

In [17]:
df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,https://www.ua.edu/,1940,1927,AL Alpha Eta,None,AL,NaN,NaN,True,United States,NaN,False
1,http://www.auburn.edu/,1990,1986,AL Alpha Zeta,None,AL,NaN,NaN,True,United States,NaN,False
2,http://www.ucmerced.edu/,0,2016,CA Alpha Upsilon,http://merced.pilambdaphi.org,CA,NaN,NaN,True,United States,NaN,True
3,https://www.usc.edu/,1950,1920,CA Kappa,None,CA,NaN,NaN,True,United States,NaN,False
4,http://www.berkeley.edu/,0,1922,CA Tau,http://berkeley.pilambdaphi.org,CA,NaN,NaN,True,United States,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
143,https://www.ewu.edu/,0,1995,WA Epsilon Alpha,http://ewu.pilambdaphi.org,WA,NaN,NaN,True,United States,NaN,True
144,http://www.uwstout.edu/,2016,2012,WI Alpha Nu,None,WI,NaN,NaN,True,United States,NaN,False
145,https://www.carrollu.edu/,0,2011,WI Chi Upsilon,http://carrollu.pilambdaphi.org,WI,NaN,NaN,True,United States,NaN,True
146,https://www.wisc.edu/,0,1926,WI Omega,http://wisc.pilambdaphi.org,WI,NaN,NaN,True,United States,NaN,True
147,http://www.wvu.edu/,1959,1922,WV Mu,None,WV,NaN,NaN,True,United States,NaN,False

In [18]:
#HTML Section with the University name
nTag = pd.Series(soup.find_all('div',{'class': "fwpl-item el-oyzqgb"}))  

uni_name = []

# Finds and Stores The University Names
for n in nTag:
    if len(n) < 1:
        uni_name.append('')
    elif len(n) >= 1:
        uni_name.append(n.get_text().strip())

df_pilam_info['University_name'] = uni_name

In [19]:
df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,https://www.ua.edu/,1940,1927,AL Alpha Eta,None,AL,NaN,NaN,True,United States,University of Alabama,False
1,http://www.auburn.edu/,1990,1986,AL Alpha Zeta,None,AL,NaN,NaN,True,United States,Auburn University,False
2,http://www.ucmerced.edu/,0,2016,CA Alpha Upsilon,http://merced.pilambdaphi.org,CA,NaN,NaN,True,United States,University of California - Merced,True
3,https://www.usc.edu/,1950,1920,CA Kappa,None,CA,NaN,NaN,True,United States,University of Southern California,False
4,http://www.berkeley.edu/,0,1922,CA Tau,http://berkeley.pilambdaphi.org,CA,NaN,NaN,True,United States,University of California - Berkeley,True
...,...,...,...,...,...,...,...,...,...,...,...,...
143,https://www.ewu.edu/,0,1995,WA Epsilon Alpha,http://ewu.pilambdaphi.org,WA,NaN,NaN,True,United States,Eastern Washington University,True
144,http://www.uwstout.edu/,2016,2012,WI Alpha Nu,None,WI,NaN,NaN,True,United States,University of Wisconsin - Stout,False
145,https://www.carrollu.edu/,0,2011,WI Chi Upsilon,http://carrollu.pilambdaphi.org,WI,NaN,NaN,True,United States,Carroll University,True
146,https://www.wisc.edu/,0,1926,WI Omega,http://wisc.pilambdaphi.org,WI,NaN,NaN,True,United States,University of Wisconsin - Madison,True
147,http://www.wvu.edu/,1959,1922,WV Mu,None,WV,NaN,NaN,True,United States,West Virginia University,False

In [20]:
##Finds and Store all in chapter types
divTag_ch  = pd.Series(soup.find_all('div',{'class': 'fwpl-item years_active'}))
ch = []
for info in divTag_ch:
    spanTag_ch = pd.Series(info.find_all(string=re.compile('Chapter Type: ')))
    k = spanTag_ch[0].replace("Chapter Type: ", '')
    k = k.strip()
    if(k == 'Chapter'):
        ch.append(k)
    else:
        k = k.replace("Chapter", '')
        ch.append(k)

df_pilam_info['Chapter_type'] = ch

In [21]:
df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,https://www.ua.edu/,1940,1927,AL Alpha Eta,None,AL,Inactive,NaN,True,United States,University of Alabama,False
1,http://www.auburn.edu/,1990,1986,AL Alpha Zeta,None,AL,Inactive,NaN,True,United States,Auburn University,False
2,http://www.ucmerced.edu/,0,2016,CA Alpha Upsilon,http://merced.pilambdaphi.org,CA,Chapter,NaN,True,United States,University of California - Merced,True
3,https://www.usc.edu/,1950,1920,CA Kappa,None,CA,Inactive,NaN,True,United States,University of Southern California,False
4,http://www.berkeley.edu/,0,1922,CA Tau,http://berkeley.pilambdaphi.org,CA,Chapter,NaN,True,United States,University of California - Berkeley,True
...,...,...,...,...,...,...,...,...,...,...,...,...
143,https://www.ewu.edu/,0,1995,WA Epsilon Alpha,http://ewu.pilambdaphi.org,WA,Chapter,NaN,True,United States,Eastern Washington University,True
144,http://www.uwstout.edu/,2016,2012,WI Alpha Nu,None,WI,Inactive,NaN,True,United States,University of Wisconsin - Stout,False
145,https://www.carrollu.edu/,0,2011,WI Chi Upsilon,http://carrollu.pilambdaphi.org,WI,Chapter,NaN,True,United States,Carroll University,True
146,https://www.wisc.edu/,0,1926,WI Omega,http://wisc.pilambdaphi.org,WI,Chapter,NaN,True,United States,University of Wisconsin - Madison,True
147,http://www.wvu.edu/,1959,1922,WV Mu,None,WV,Inactive,NaN,True,United States,West Virginia University,False

In [22]:
#Adding the Refounded Dates
# 0 will represent NaN values
refo = [['CA Tau Alpha', 2019], ['FL Epsilon Lambda', 2019],['IN Alpha Theta',2014],['IN Epsilon Iota',2016],
       ['MD Kappa Delta',2010 ], ['MD Alpha Omicron',2014], ['NJ Alpha Lambda', 2015],['NY Beta Omicron',2013],
       ['NY Omega Epsilon', 2001], ['NY Phi Lambda',2010], ['NC Omega Beta', 1996], ['NC Omega Zeta',2007],
       ['OH Beta Tau',2005], ['OH Alpha Epsilon',2018], ['OH Mu', 2020], ['PA Alpha Delta',2009],
        ['PA Delta Iota', 2016], ['PA Epsilon Zeta', 2020], ['PA Gamma Sigma', 2016], ['PA Omega Gamma',2019],
        ['VA Alpha Psi', 2013], ['VA Lambda Kappa', 2011], ['WV Mu',2020]]

red = []
for d in df_pilam_info['Chapter_name']:
    for x in refo:
        if d == x[0]:
            red.append(x[1])
            break
        else:
            red.append(0)
            break

df_pilam_info['Refounded_date'] = red

In [23]:
df_pilam_info

,University_link,Inactive_date,Founded_date,Chapter_name,Chapter_link,State/Providence,Chapter_type,Refounded_date,Functional_University_link,Country,University_name,Functional_Chapter_link
0,https://www.ua.edu/,1940,1927,AL Alpha Eta,None,AL,Inactive,0,True,United States,University of Alabama,False
1,http://www.auburn.edu/,1990,1986,AL Alpha Zeta,None,AL,Inactive,0,True,United States,Auburn University,False
2,http://www.ucmerced.edu/,0,2016,CA Alpha Upsilon,http://merced.pilambdaphi.org,CA,Chapter,0,True,United States,University of California - Merced,True
3,https://www.usc.edu/,1950,1920,CA Kappa,None,CA,Inactive,0,True,United States,University of Southern California,False
4,http://www.berkeley.edu/,0,1922,CA Tau,http://berkeley.pilambdaphi.org,CA,Chapter,0,True,United States,University of California - Berkeley,True
...,...,...,...,...,...,...,...,...,...,...,...,...
143,https://www.ewu.edu/,0,1995,WA Epsilon Alpha,http://ewu.pilambdaphi.org,WA,Chapter,0,True,United States,Eastern Washington University,True
144,http://www.uwstout.edu/,2016,2012,WI Alpha Nu,None,WI,Inactive,0,True,United States,University of Wisconsin - Stout,False
145,https://www.carrollu.edu/,0,2011,WI Chi Upsilon,http://carrollu.pilambdaphi.org,WI,Chapter,0,True,United States,Carroll University,True
146,https://www.wisc.edu/,0,1926,WI Omega,http://wisc.pilambdaphi.org,WI,Chapter,0,True,United States,University of Wisconsin - Madison,True
147,http://www.wvu.edu/,1959,1922,WV Mu,None,WV,Inactive,0,True,United States,West Virginia University,False

In [24]:
#name of the Columns
col= {'Code','Total_F_Chapters','Active_Chapters/Colonies/Alumni','Inactive_Chapters'}

#number of rows = number of USA states plus Canada
index = range(0,51)

# An (51,4) DataFrame with all elements equal to NaN
df_pilam_count = pd.DataFrame(np.nan, index=index,columns= col)

In [25]:
states =[]
for x in abbrev_us_state:
    states.append(x)
states.append('CN')
df_pilam_count['Code'] = states

In [26]:
num = []
for x in df_pilam_count['Code']:
    c = 0
    for i in df_pilam_info['State/Providence']:
        if x == i:
            #c = c+1
            c += 1
    num.append(c)

df_pilam_count['Num_Chapters'] = num

df_pilam_count

,Code,Inactive_Chapters,Active_Chapters/Colonies/Alumni,Total_F_Chapters,Num_Chapters
0,AL,NaN,NaN,NaN,2
1,AK,NaN,NaN,NaN,0
2,AZ,NaN,NaN,NaN,0
3,AR,NaN,NaN,NaN,0
4,CA,NaN,NaN,NaN,5
5,CO,NaN,NaN,NaN,2
6,CT,NaN,NaN,NaN,4
7,DE,NaN,NaN,NaN,1
8,FL,NaN,NaN,NaN,9
9,GA,NaN,NaN,NaN,0
10,HI,NaN,NaN,NaN,0
11,ID,NaN,NaN,NaN,0
12,IL,NaN,NaN,NaN,2
13,IN,NaN,NaN,NaN,4
14,IA,NaN,NaN,NaN,3
15,KS,NaN,NaN,NaN,0
16,KY,NaN,NaN,NaN,1
17,LA,NaN,NaN,NaN,0
18,ME,NaN,NaN,NaN,2
19,MD,NaN,NaN,NaN,5
20,MA,NaN,NaN,NaN,8
21,MI,NaN,NaN,NaN,5
22,MN,NaN,NaN,NaN,2
23,MS,NaN,NaN,NaN,0
24,MO,NaN,NaN,NaN,1
25,MT,NaN,NaN,NaN,0
26,NE,NaN,NaN,NaN,1
27,NV,NaN,NaN,NaN,0
28,NH,NaN,NaN,NaN,1
29,NJ,NaN,NaN,NaN,4
30,NM,NaN,NaN,NaN,1
31,NY,NaN,NaN,NaN,25
32,NC,NaN,NaN,NaN,6
33,ND,NaN,NaN,NaN,0
34,OH,NaN,NaN,NaN,5
35,OK,NaN,NaN,NaN,1
36,OR,NaN,NaN,NaN,0
37,PA,NaN,NaN,NaN,24
38,RI,NaN,NaN,NaN,2
39,SC,NaN,NaN,NaN,1
40,SD,NaN,NaN,NaN,0
41,TN,NaN,NaN,NaN,0
42,TX,NaN,NaN,NaN,4
43,UT,NaN,NaN,NaN,0
44,VT,NaN,NaN,NaN,0
45,VA,NaN,NaN,NaN,8
46,WA,NaN,NaN,NaN,1
47,WV,NaN,NaN,NaN,1
48,WI,NaN,NaN,NaN,3
49,WY,NaN,NaN,NaN,0
50,CN,NaN,NaN,NaN,0

In [27]:
import plotly.graph_objects as go

fig = go.Figure(data=go.Choropleth(
    locations=df_pilam_count['Code'], # Spatial coordinates
    z = df_pilam_count['Num_Chapters'].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'purp',
    colorbar_title = "Number of Chapters",
))

fig.update_layout(
    title_text = 'Total USA Chapters Pi Lambda Phi Founded',
    geo_scope='usa', # limite map scope to USA
)

fig.show()